@model IEnumerable<Product>

<div class="row pb-3">
	@foreach (var prod in Model)
	{
		<div class="col-lg-3 col-sm-6 mb-2">
			<div class="card p-2 border-0 shadow border-top border-5 rounded product-card">
				<a asp-action="Details" asp-route-id ="@prod.Id" class="text-decoration-none ">
				<div class="ratio ratio-4x3">
					<img src="@prod.ImageUrl" class="card-img-top rounded object-fit-cover" ></img>
				</div>
				<div class="card-body pb-0">
					<p class="card-title h5 text-dark opacity-85 text-center"> @prod.Brand @prod.ModelName</p>
					<p class="card-title text-dark "> @prod.CpuModel @prod.RamMemory RAM @prod.GraphicsCard</p>
				</div>
				</a>
				<div class="card-footer text-center border-0">
					<div class="mb-1">
						<span class="h5 mb-0">₹ @prod.ListPrice</span>
						<small class="text-muted">Incl. GST</small>
					</div>
					<div>
						As low as <span class="h5 mb-0">₹ @prod.ListPrice100</span>
						<small class="text-muted">Incl. GST</small>
					</div>

				</div>
				<div class="position-absolute top-0 start-0 m-2">
					<span class="badge bg-success">In stock</span>
				</div>
			</div>
		</div>
	}
</div>
